body{
  overflow: hidden;
}

.app{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
}


.home-container{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 98;
    top: 0;
    overflow: hidden;
}

.home-grid{
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

  .grid-card{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
}

.-animate{
  transition: all 1s cubic-bezier(.77,0,.175,1);
}